<footer class="es-footer">
  {#<div class="footer-link">
    <div class="container">
      <div class="row">
        {{ block_show('jianmo:bottom_info') }}
      </div>
    </div>
  </div>#}

  <div class="copyright">
    <div class="container">
      {% include "TopxiaWebBundle::powered-by.html.twig" %}
      {{ setting('site.analytics')|raw }} 
      
    </div>
  </div>
</footer>